{% extends "main/base.html" %}
{% load widget_tweaks %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    <div class="container">
        {% if validlink %}

            {% if form.errors %}
                <p>{{ form.new_password2.errors.as_text }}</p>
            {% else %}
                <p>Please enter your new password below.</p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2|add_class:"form-control" }}
                </div>

                <input type="submit" class="btn btn-primary" value="Change my password" />

            </form>

        {% else %}

            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, possibly because it has already been used.</p>
            <p><a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>

        {% endif %}
    </div>
{% endblock %}