{% extends 'main/base.html' %}

{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' qg.room.id %}">{{ qg.room.title }}</a></li>
            <li><a href="{% url 'questiongroup_detail' qg.room.id qg.id %}">{{ qg.title }}</a></li>
            <li>Create question</li>
        </ol>
        <form action="{% url 'question_create' room questiongroup %}" method="post">{% csrf_token %}
            <div class="form-group">
                <label>New question:</label>
                {{ qform.question_text|add_class:"form-control"|attr:"rows:1" }}

                {% if qform.errors %}
                    <div class="alert alert-warning" role="alert">{{ qform.errors.question_text }}</div>
                {% endif %}
                <div id="answers">
                    {% for aform in aforms %}
                        <div class="form-group has-feedback answer-div" id="answer-div">
                            <label>Answer:</label>
                            {{ aform.correct|add_class:"correct" }} - mark this answer as correct?
                            {{ aform.answer_text|add_class:"form-control answer"|attr:"rows:1" }}

                            {% if aform.errors %}
                                <div class="alert alert-warning" role="alert">{{ aform.errors.answer_text }}</div>
                            {% endif %}
                            <button type="button" class="btn btn-primary btn-block remove-answer">Remove</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-success btn-block" id="add-answer">Add one more answer</button>
            <button type="submit" class="btn btn-primary btn-block">Create Question </button>
        </form>
    </div>


    <script src="{% static 'vote/js/question.js' %}"></script>
{% endblock %}