{% extends 'main/base.html' %}

{% block content %}
{% load staticfiles %}
{% load compress %}
{% load vote_extras %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' question.group.room_id %}">{{ question.group.room.title }}</a></li>
            <li><a href="{% url 'questiongroup_detail' question.group.room_id question.group_id %}">{{ question.group.title }}</a></li>
            <li class="active">Question</li>
        </ol>

        {% include 'main/messages.html' %}

        {% if question.group.room.owner == user %}
            {% if not question.is_open %}
                <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Notice!</strong> This question is owned by you, but is not yet open for other users!
                </div>
                <button class="toggleQuestion toggle_question btn btn-success btn-xs" data-url="{% url 'question_toggle' question.group.room.id question.group.id question.id %}">Open Question</button>
            {% else %}
                <button class="toggleQuestion toggle_question btn btn-warning btn-xs" data-url="{% url 'question_toggle' question.group.room.id question.group.id question.id %}">Close Question</button>
            {% endif %}
            <p>
                <a href="{% url 'question_edit' question.group.room_id question.group_id question.id %}">Edit this question</a>
            </p>
        {% endif %}

        <div class="">
            <h3>
                {{ question.question_text|safe }}
            </h3>
            <hr>
        </div>


        <style>

            input[type=radio] + label {
              width: 100%;
              height: 100%;
            }

            input[type=radio]:checked + label {
              border: solid black;
              width: 100%;
              height: 100%;
            }

            input[type="radio"] {
                display:none;
            }

        </style>

        <form action="{% url 'answer_response' question.group.room_id question.group.id question.id %}" method="POST">{% csrf_token %}
            {% for answer in question.answer_set.all %}
                {% if answer.correct and not question.is_open %}
                    <div class="panel panel-success">
                {% else %}
                    <div class="panel panel-default">
                {% endif %}
                    <div class="panel-heading">{{ forloop.counter0|get_letter }}</div>
                        <div class="answer-label" for="{{ answer.id }}">
{#                            <div class="panel-body">#}
                                <input type="radio" class="disable-toggle" name="answer" id="{{ answer.id }}"  value="{{ answer.id }}" class="radio"
                                {% if not question.is_open %}
                                    disabled
                                {% endif %}
                                {% for response in answer.response_set.all %}
                                    {% if response.user_id == request.user.id %}
                                        checked
                                    {% endif %}
                                {% endfor %}>
                                <label for="{{ answer.id }}">
                                    {{ answer.answer_text|safe }}
                                </label>
{#                            </div>#}
                        </div>
                    </div>
            {% endfor %}
        {% if question.group.room.owner_id == user.id %}
            <button type="submit" class="btn btn-primary btn-block disable-toggle" {% if not question.is_open %}disabled{% endif %}>Send Answer</button>
            <a href="{% url 'question_response' question.group.room_id question.group_id question.id %}" class="btn btn-success btn-block">See live responses</a>
        {% else %}
            {% if question.is_open %}
                <button type="submit" class="btn btn-primary btn-block">Send Answer</button>
            {% else %}
                <a href="{% url 'question_response' question.group.room_id question.group_id question.id %}" class="btn btn-success btn-block">See responses</a>
            {% endif %}
        {% endif %}
        </form>
    </div>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    {% compress js %}
    <script src="{% static 'vote/js/pretty.js' %}"></script>
    <script src="{% static 'vote/js/toggle.js' %}"></script>
    <script src="{% static 'vote/js/subscribe.js' %}"></script>
    {% endcompress %}

{% endblock %}
