{% extends 'main/base.html' %}

{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}

    <div class="container">
    {{ qform.errors }}
    {{ aform.errors }}
{#        <form action="" method="post">#}
            <div class="form-group">
                <label>Question:</label>
                {{ qform.question_text|add_class:"form-control update" }}

                <div id="answers">
                    {% for aform in aforms %}
                        <div class="form-group has-feedback" id="answer-div">
                            <label>Answer: {{ aform.data.id }}</label>

                            {{ aform.answer_text|add_class:"form-control update" }}
                            <input type="hidden" id="answer_id" value="{{ aform.data.id }}">
                            <button type="button" class="remove-answer">Remove</button>
                        </div>
                    {% endfor %}
                </div>
                <input type="hidden" id="update-url" data-url="{% url 'question_update' room questiongroup question %}">
            </div>
            <button type="button" class="btn btn-success" id="add-answer">Add answers</button>
            <button type="submit" class="btn btn-primary">Submit changes </button>
{#        </form>#}




    {{ request.POST }}

    </div>

    <script src="{% static 'vote/js/question.js' %}"></script>

{% endblock %}