{% extends 'main/base.html' %}

{% block content %}

    <div class="container">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.min.js"></script>

        <h1>{{ question.question_text }} <small>Total Responses: {{ question.total_responses }}</small></h1>

        <div class="ct-chart ct-perfect-fourth" id="chart"></div>

        <input type="hidden" id="event" value="response-{{ room }}{{ questiongroup }}{{ question.id }}">

      <script>

        var chart = new Chartist.Bar('.ct-chart', {
              labels: {{ data.labels|safe }},
              series: {{ data.series }}
            }, {
              low: 0,
              axisY: {
                    onlyInteger: true
              },
              distributeSeries: true
            }
        );

        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) {
            window.console.log(message);
          }
        };
        var pusher = new Pusher('52b285639f1c7195cfac', {
          encrypted: true
        });
        var channel = pusher.subscribe('crs');
        var event = $("#event:hidden").val();
        channel.bind(event, function(data) {
            chart.update(data.data);
        });
      </script>
    </div>

{% endblock %}