{% extends 'main/base.html' %}

{% block content %}
{% load widget_tweaks %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'room_detail' questiongroup.room_id %}">{{ questiongroup.room.title }}</a></li>
            <li><a href="{% url 'questiongroup_detail' questiongroup.room_id questiongroup.id %}">{{ questiongroup.title }}</a></li>
            <li class="active">Edit group</li>
        </ol>

        <form action="{% url 'questiongroup_update' questiongroup.room_id questiongroup.id %}" method="post">{% csrf_token %}
            <div class="form-group">
                <label>New name for this group of questions:</label>
                {{ form.title|add_class:'form-control' }}
{#                <input type="text" class="form-control" name="title" value="{{ room.title  }}" id="id_title">#}
            </div>

        <input type="submit" class="btn btn-primary" value="Update" />
        </form>

{#        {% for question in room.question_set.all %}#}
{##}
{#            <p>{{ question.question_text }}</p>#}
{##}
{#        {% endfor %}#}


    {% for error in form.errors %}

        <p>{{ error }}</p>

    {% endfor %}

    </div>
{% endblock %}