{% extends 'main/base.html' %}
{% load vote_extras %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' questiongroup.room_id %}">{{ questiongroup.room.title }}</a></li>
            <li><a href="{% url 'questiongroup_detail' questiongroup.room_id questiongroup.id %}">{{ questiongroup.title }}</a></li>
            <li class="active">Questions</li>
        </ol>

        {% if not questiongroup.is_open %}
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Notice!</strong> This room is owned by you, but is not yet open for other users!
            </div>
        {% endif %}
        <h2>{{ questiongroup.title }}
            {% if questiongroup|questiongroup_is_owned_by_user:user %}
               <small><a href="{% url 'questiongroup_edit' questiongroup.room_id questiongroup.id %}">Edit</a></small> |
                <small>
                    <a href="{% url 'question_create' questiongroup.room_id questiongroup.id %}">
                        Add Question
                    </a>
                </small>
            {% endif %}
        </h2>

        {% include 'main/messages.html' %}

        {% if questiongroup.has_questions %}

        <div class="table-responsive">
        <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Created answers</th>
            <th>Responses</th>
            <th>Date published</th>
            <th>Open for answers</th>
            {% if questiongroup|questiongroup_is_owned_by_user:user %}
                <th>
                    Remove Question
                </th>
            {% endif %}
        </tr>

        {% for question in questiongroup.question_set.all %}
            <tr>
                <td>
                    <a href="{% url 'question_detail' questiongroup.room_id questiongroup.id question.id %}">{{ question.question_text }}</a>
                </td>
                <td>{{ question.number_of_possible_answers }}</td>
                <td>{{ question.total_responses }}</td>
                <td>{{ question.pub_date }}</td>

                {% if questiongroup|questiongroup_is_owned_by_user:user %}
                <td>
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="toggle_question" data-url="{% url 'question_toggle' questiongroup.room_id questiongroup.id question.id %}" {% if question.is_open %}checked{% endif %}>
                        </label>
                    </div>
                </td>
                <td>
                    <form action="{% url 'question_delete' questiongroup.room_id questiongroup.id question.id %}" method="post">{% csrf_token %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                        </div>
                    </form>
                </td>
                {% else %}
                <td>
                    <div class="checkbox">
                        {{ question.is_open }}
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </table>
        </div>
        {% else %}
            <p>Currently no questions in this room!</p>
        {% endif %}

    </div>

    <script src="{% static 'vote/js/subscribe.js' %}"></script>

{% endblock %}