{% extends 'main/base.html' %}

{% block content %}
{% load staticfiles %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' question.group.room_id %}">{{ question.group.room.title }}</a></li>
            <li><a href="{% url 'questiongroup_detail' question.group.room_id question.group_id %}">{{ question.group.title }}</a></li>
            <li class="active">Question</li>
        </ol>
        <h3>{{ question.question_text|linebreaks }}
            {% if question.group.room.owner_id == request.user.id %}
                <small><a href="{% url 'question_edit' question.group.room_id question.group_id question.id %}">Edit</a></small>
            {% endif %}
        </h3>
        {#{% url 'answer_response' question_group.room_id question_group.id question.id  %}#}
        <form action="{% url 'answer_response' question.group.room_id question.group.id question.id %}" method="POST">{% csrf_token %}
            {% for answer in question.answer_set.all %}
                <div class="radio">
                    <label>
                        <input type="radio" name="answer" value="{{ answer.id }}"
                            {% for response in answer.response_set.all %}
                                {% if response.user_id == request.user.id %}
                                    checked
                                {% endif %}
                            {% endfor %}>
                            {{ answer|safe }}

                    </label>
                </div>
            {% endfor %}

        {% if question.group.room.owner_id == user.id %}
            <button type="submit" class="btn btn-primary btn-block">Send Answer</button>
            <a href="{% url 'question_response' question.group.room_id question.group_id question.id %}" class="btn btn-success btn-block">See live responses</a>
        {% else %}
            {% if question.is_open %}
                <button type="submit" class="btn btn-primary btn-block">Send Answer</button>
            {% else %}
                <a href="{% url 'question_response' question.group.room_id question.group_id question.id %}" class="btn btn-success btn-block">See live responses</a>
            {% endif %}
        {% endif %}
        </form>
    </div>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="{% static 'vote/js/pretty.js' %}"></script>

{% endblock %}
