{% extends 'main/base.html' %}

{% block content %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <div class="container">

        <h1>{{ question.question_text }}</h1>


        <div id="response">
            {% for answer in question.answer_set.all %}
               <div>{{ answer }}<span class="answer-box" id="{{ answer.id }}">{{ answer.number_of_responses }}</span></div>
            {% endfor %}
        </div>
        <input type="hidden" id="event" value="response-{{ room }}{{ questiongroup }}{{ question.id }}">

    <div class="ct-chart ct-perfect-fourth"></div>

    <script>
        var data = {
          labels: ['Bananas', 'Apples', 'Grapes'],
          series: [20, 15, 40]
        };

        var options = {
          labelInterpolationFnc: function(value) {
            return value[0]
          }
        };

        var responsiveOptions = [
          ['screen and (min-width: 640px)', {
            chartPadding: 30,
            labelOffset: 100,
            labelDirection: 'explode',
            labelInterpolationFnc: function(value) {
              return value;
            }
          }],
          ['screen and (min-width: 1024px)', {
            labelOffset: 80,
            chartPadding: 20
          }]
        ];

        new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
    </script>

      <script>
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) {
            window.console.log(message);
          }
        };
        var pusher = new Pusher('52b285639f1c7195cfac', {
          encrypted: true
        });
        var channel = pusher.subscribe('crs');
        var event = $("#event:hidden").val();
        channel.bind(event, function(data) {

            divs = $(".answer-box");
            divs.each(function(index, value){
                var answerId = parseInt($(value).attr('id'));
                var count = data.data[answerId] ? data.data[answerId].answer_count : 0;
                $(value).text(count);
            });
        });
      </script>

    </div>

{% endblock %}