{% extends 'main/base.html' %}

{% block content %}
{% load widget_tweaks %}

    <div class="container">
    
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' room.id %}">{{ room.title }}</a></li>
            <li>Create group of questions</li>
        </ol>
        <form action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label>Name of new group of questions:</label>
                {{ form.title|add_class:"form-control" }}
                {{ form.errors.title }}
            </div>
        <input type="submit" value="Create" class="btn btn-primary" />
        </form>

    </div>
{% endblock %}