{% extends 'main/base.html' %}

{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}

    <div class="container">
    {{ qform.errors }}
    {{ aform.errors }}
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' q.group.room_id %}">{{ q.group.room.title }}</a></li>
            <li><a href="{% url 'questiongroup_detail' q.group.room_id q.group_id %}">{{ q.group.title }}</a></li>
            <li><a href="{% url 'question_detail' q.group.room_id q.group_id q.id %}">{{ q.question_text|truncatechars:20 }}</a></li>
            <li class="active">Edit question</li>
        </ol>

        <div class="form-group" id="question">
            <label>Question:</label>
            {{ qform.question_text|add_class:"form-control update-question"|attr:"rows:2" }}
        </div>

            <div id="answers">
                {% for aform in aforms %}
                    <div class="form-group has-feedback answer-div blur" id="answer-div">
                        <label>Answer:</label>
                        {{ aform.correct|add_class:"correct" }} - mark this answer as correct?
                        {{ aform.answer_text|add_class:"form-control answer update-answer"|attr:"rows:2" }}
                        <input type="hidden" id="answer_id" value="{{ aform.data.id }}">
                        <input type="hidden" id="delete-url" value="{% url 'answer_delete' room questiongroup question aform.data.id %}">
                        <button type="button" class="remove-answer btn btn-primary btn-block">Remove</button>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" id="update-url" data-url="{% url 'question_update' room questiongroup question %}">
        <button type="button" class="btn btn-success btn-block" id="add-answer">Add one more answer</button>
        <a href="{% url 'question_detail' room questiongroup question %}" class="btn btn-primary btn-block">Submit changes </a>
    </div>

    <script src="{% static 'vote/js/question.js' %}"></script>

{% endblock %}