{% extends 'main/base.html' %}

{% block content %}
{% load widget_tweaks %}

    <div class="container">

        <form action="{% url 'questiongroup_update' questiongroup.room_id questiongroup.id %}" method="post">{% csrf_token %}
            <div class="form-group">
                {{ form.title|add_class:'form-control' }}
{#                <input type="text" class="form-control" name="title" value="{{ room.title  }}" id="id_title">#}
            </div>

        <input type="submit" class="btn btn-primary" value="Update" />
        </form>

{#        {% for question in room.question_set.all %}#}
{##}
{#            <p>{{ question.question_text }}</p>#}
{##}
{#        {% endfor %}#}


    {% for error in form.errors %}

        <p>{{ error }}</p>

    {% endfor %}

    </div>
{% endblock %}