{% extends 'main/base.html' %}
{% load vote_extras %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <h2>{{ room.title }}
            {% if room|room_is_owned_by_user:user %}
                <small><a href="{% url 'room_edit' room.id %}">Edit</a></small> |
                <small><a href="{% url 'questiongroup_create' room.id %}">Add Group</a></small>
            {% else %}
                {% if user|user_is_subscribed_to_room:room %}
                    <small id="room_detail" class="toggle_subscription" data-url="{% url 'room_subscribe' room.id  %}">Unsubscribe</small>
                {% else %}
                    <small id="room_detail" class="toggle_subscription" data-url="{% url 'room_subscribe' room.id  %}">Subscribe</small>
                {% endif %}
            {% endif %}
        </h2>

        {% if room.has_questiongroups %}
        <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Question group</th>
                <th>Date created</th>
                <th>Visible for subscribers</th>

            </tr>

            {% for questiongroup in room.questiongroup_set.all %}
            <tr>
                <td><a href="{% url 'questiongroup_detail' room.id questiongroup.id %}">{{ questiongroup.title }}</a></td>

                <td>{{ questiongroup.date_time }}</td>

                <td>
                {% if room|room_is_owned_by_user:user %}
                    <div class="checkbox">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="toggle_question" data-url="{% url 'questiongroup_toggle' room.id questiongroup.id %}" {% if questiongroup.is_open %}checked{% endif %}>
                    </label>
                    </div>
                {% else %}
                    {{ questiongroup.is_open }}
                {% endif %}
                </td>

            </tr>
            {% endfor %}
            </table>
        </div>
        {% else %}
            <p>Currently no groups in this room!</p>
        {% endif %}

    </div>

    <script src="{% static 'vote/js/subscribe.js' %}"></script>

{% endblock %}