{% extends 'main/base.html' %}

{% block content %}

    <div class="container">

        <form action="{% url 'room_update' room.id %}" method="post">{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="title" value="{{ room.title  }}" id="id_title">
            </div>

        <input type="submit" class="btn btn-primary" value="Update" />
        </form>

        {% for question in room.question_set.all %}

            <p>{{ question.question_text }}</p>

        {% endfor %}

    </div>
{% endblock %}