{% extends 'main/base.html' %}
{% load vote_extras %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'room_detail' room.id %}">{{ room.title }}</a></li>
            <li class="active">Groups</li>
        </ol>
        <h2>{{ room.title }} <small> @ {{ room.owner.username }} |</small>
            {% if room|room_is_owned_by_user:user %}
                <small><a href="{% url 'room_edit' room.id %}">Edit</a></small> |
                <small><a href="{% url 'questiongroup_create' room.id %}">Add Group</a></small>
            {% else %}
                {% if user|user_is_subscribed_to_room:room %}
                    <small id="room_detail" class="toggle_subscription" data-url="{% url 'room_subscribe' room.id  %}">Unsubscribe</small>
                {% else %}
                    <small id="room_detail" class="toggle_subscription" data-url="{% url 'room_subscribe' room.id  %}">Subscribe</small>
                {% endif %}
            {% endif %}
        </h2>

        {% include 'main/messages.html' %}

        {% if room.has_questiongroups %}
                <div class="table-responsive">
                <table class="table table-hover" id="sort">
                    <tr>
                        <th>Question group</th>
                        <th>Date created</th>
                        <th>Changed</th>
                        <th>Is open for voting</th>
                        {% if room|room_is_owned_by_user:user %}
                            <th>Delete Group</th>
                        {% endif %}

                    </tr>
                    {% for questiongroup in room.questiongroup_set.all %}
                        <tr>
                            <td><a href="{% url 'questiongroup_detail' room.id questiongroup.id %}">{{ questiongroup.title }}</a></td>
                            <td>{{ questiongroup.date_time }}</td>
                            <td>{{ questiongroup.updated_at|naturaltime }}</td>
                            {% if room|room_is_owned_by_user:user %}
                                <td>
                                    {% if questiongroup.is_open %}
                                        <button class="toggleQuestionGroup toggle_question btn btn-warning btn-xs" id="toggleQuestionGroup" data-url="{% url 'questiongroup_toggle' room.id questiongroup.id %}">Close Group</button>
                                    {% else %}
                                        <button class="toggleQuestionGroup toggle_question btn btn-success btn-xs" id="toggleQuestionGroup" data-url="{% url 'questiongroup_toggle' room.id questiongroup.id %}">Open Group</button>
                                    {% endif %}

                                </td>
                                <td>
                                    <form action="{% url 'questiongroup_delete' room.id questiongroup.id %}" method="POST">{% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                                    </form>
                                </td>
                            {% else %}
                                <td>
                                    {{ questiongroup.is_open }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>

        {% else %}
            <p>Currently no groups in this room!</p>
        {% endif %}

    </div>

    <script src="{% static 'vote/js/toggle.js' %}"></script>
    <script src="{% static 'vote/js/subscribe.js' %}"></script>


{% endblock %}