{% extends 'main/base.html' %}

{% block content %}

    <div class="container">
        <h1>Dashboard</h1>
        <p><a href="{% url 'room_create' %}">Create new room</a></p>
        <hr>
        <h3>Rooms I'm subscriped to</h3>
        {% for subscriped in user.subscription_set.all %}
            <p><a href="{% url 'room_detail' subscriped.room.id %}">{{ subscriped.room.title }}</a></p>
        {% endfor %}

        <hr>
        <h3>My rooms</h3>
        {% for room in user.room_set.all %}
            <p><a href="{% url 'room_detail' room.id %}">{{ room.title }}</a></p>
        {% endfor %}
    </div>


{% endblock %}
