{% extends 'main/base.html' %}

{% block content %}

    <div class="container">

        <h1>Search for <em>{{ query }}</em></h1>

        {% for room in rooms %}
            <p><em>{{ room.owner.username }}</em>: <a href="{% url 'room_detail' room.id %}">{{ room.title }}</a></p>
        {% endfor %}

        <div class="pagination">
            <ul class="pager">
                {% if rooms.has_previous  %}
                    <li><a href="?q={{ query }}&page={{ rooms.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                {% endif %}
                <span class="current">
                    {{ rooms.number }} of {{ rooms.paginator.num_pages }}
                </span>
                {% if rooms.has_next %}
                   <li><a href="?q={{ query }}&page={{ rooms.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </div>

    </div>

{% endblock %}