<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load compress %}
    <meta charset="UTF-8">
    <title>CRS</title>
    {% block extra_head %}{% endblock %}

    <meta name="viewport" content="width=device-width">

    {% compress js %}
    <script src="{% static 'main/js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/pusher.min.js' %}"></script>
    <script src="{% static 'main/js/main_utils.js' %}"></script>
    <script src="{% static 'main/js/autosize.min.js' %}"></script>
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endcompress %}

</head>
<body>

{% include 'main/nav.html' %}

{% block content %}{% endblock %}

{% compress js %}
<script>autosize($('textarea'));</script>
{#<script src="{% static 'main/js/MathJax.js' %}"></script>#}
{% endcompress %}
    <script type="text/javascript" async
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

</body>
</html>