body {
    padding-top: 70px;
}

.toggle_subscription {
    cursor: pointer;
}

.disabled {
    background-color: lightgrey;
}

textarea {
    font-family: "Courier New";
}

td {
    vertical-align: middle;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }